body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1{
	font-family: 'Rancho';
        font-size: 70px;
	text-shadow: 2px 2px #000;
	color: #E3DBDB;
	font-style:normal;
	font-weight:normal;
}

#names{
	font-family: 'Rancho';
        font-size: 80px;
	text-shadow: 2px 2px #000;
	color: #E3DBDB;
}
#date{
	font-family: 'Rancho';
        font-size: 50px;
	color: black;
}

h2{
	font-family: 'Rancho';
	text-shadow: 2px 2px #000;
        font-size: 70px;
	color: #E3DBDB;
	font-style:normal;
	font-weight:normal;
	margin: 0;
}

h3{
	font-family: 'Rancho';
        font-size: 50px;
	color: black;
	font-weight:normal;
	margin: 0;
}

.place-container{
	width: 1044px;
	margin-left: auto;
	margin-right: auto;
}

.place{
	width: 500px;
	margin: 10px;
	float: left;
       	border-style: outset;
	border-width: 1px;
}

.place p{
	font-family: sans-serif;
	margin: 0;
}

.place img{
	width: 400px;
	margin: 10px;
}

.place iframe{
	margin: 10px;
}
