body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url("imgs/fundo.jpg");
	background-repeat:no-repeat;
}

#background1{
	position: fixed;
	width: 500px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
}

h1{
	font-family: 'Rancho';
        font-size: 70px;
	color: #DED5FF;
	text-shadow: 2px 2px #110245;
	font-style:normal;
	font-weight:normal;
	margin: 0px;
}

#names{
	font-family: 'Rancho';
        font-size: 110px;
	text-shadow: 2px 2px #110245;
	color: #9c8dd2;
}
#date{
	font-family: 'Rancho';
        font-size: 50px;
	color: #110245;
}

h2{
	font-family: 'Rancho';
        font-size: 70px;
	color: #DED5FF;
	text-shadow: 2px 2px #110245;
	font-style:normal;
	font-weight:normal;
	margin: 0;
}

h3{
	font-family: 'Rancho';
        font-size: 50px;
	color: #110245;
	font-weight:normal;
	margin: 0;
}

.place-container{
	width: 1044px;
	margin-left: auto;
	margin-right: auto;
}

.place{
	width: 500px;
	margin: 10px;
	float: left;
       	border-style: outset;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 0.6);
}

.place p{
	font-family: sans-serif;
	margin: 0;
}

.place img{
	width: 400px;
	margin: 10px;
}

.place iframe{
	margin: 10px;
}

#disqus_thread{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}
